.education {
  position: relative;
  margin: 40px auto;
  max-width: 600px;
  color: white;
  text-align: left;
}

.timeline {
  position: absolute;
  left: 12px;
  top: 65px;
  bottom: 0;
  width: 2px;
  background-color: #fff;
}

.education h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 20px;
}

.education-item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 40px;
}

.timeline-dot {
  position: absolute;
  left: 6px;
  top: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
}

.education-item h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0;
  color: #ffea9f;
}

.education-date {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

.education-item p {
  margin-top: 5px;
  color: #ffbbc3;
}

@media (max-width: 768px) {
  .timeline-dot {
    left: -5px;
  }
}
