.nav {
  display: flex; /* Torna os itens flexíveis */
  margin-bottom: 220px; /* Espaço entre a navbar e o Hero */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente (opcional) */
  padding: 10px 0; /* Adiciona espaçamento interno */
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove margens padrão */
  display: flex; /* Alinha os itens horizontalmente */
  gap: 20px; /* Espaço entre os itens */
}

.nav ul li {
  margin: 0; /* Remove margens adicionais */
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  transition: color 0.3s; /* Efeito de transição ao passar o mouse */
}

.nav ul li a:hover {
  color: #ffea9f; /* Cor de destaque ao passar o mouse */
}

.hero {
  margin-top: 50px;
  margin-bottom: 230px; /* Espaço entre o Hero e o Education */
  display: flex;
  flex-direction: column; /* Organiza os itens verticalmente */
  align-items: center; /* Centraliza todo o conteúdo horizontalmente */
  text-align: left; /* Garante que o texto fique alinhado à esquerda */
  max-width: 600px; /* Limita a largura do conteúdo */
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto; /* Centraliza horizontalmente */
}

.hero p {
  line-height: 1.5; /* Melhora a legibilidade */
  margin-bottom: 20px; /* Espaçamento entre o parágrafo e os botões */
  color: white; /* Garante boa visibilidade no fundo escuro */
}
.profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.buttons {
  display: flex;
  justify-content: flex-start; /* Alinha os botões à esquerda */
  gap: 15px; /* Espaço entre os botões */
  width: 100%; /* Ocupa toda a largura disponível */
}
.button {
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s;
  font-size: 16px;
}
.button i {
  font-size: 20px;
}
.button:hover {
  background-color: #555;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
.nav ul li a {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 200;
}
.hero h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 550;
  margin-bottom: 10px; /* Espaço entre o título e o parágrafo */
  width: 100%; /* Garante que o texto ocupe todo o espaço do container */
  color: white;
}
.highlight-yellow {
  color: #ffea9f;
}
.highlight-pink {
  color: #ffbbc3;
}
.highlight-blue {
  color: #b6fbff;
}
