.projects-container {
  color: #ffffff;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.projects-title {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.projects-icon {
  font-size: 24px;
  margin-right: 10px;
}

.project-item {
  margin-bottom: 20px;
}

.project-name {
  font-size: 18px;
  font-weight: bold;
  color: #FFEA9F; /* Amarelo */
  margin-bottom: 10px;
}

.project-description {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.project-image-container {
  position: relative;
  display: inline-block;
  max-width: 600px;
  margin: 0 auto 20px;
}

.project-image{
  width: 112%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
  align-items: end;
}

.github-icon {
  position: absolute;
  top: 10px; /* Ajuste conforme necessário */
  font-size: 29px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo semi-transparente */
  padding: 8px;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.github-icon:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.9);
  color: #000000;
}

.project-icon-link {
  text-decoration: none;
}
