body {
  background: linear-gradient(to bottom right, #0d1117, #141a29, #0f1015);
  min-height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .hero {
    width: 390px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .experience,
  .projects,
  .skills,
  .education,
  .languages {
    width: 100%;
    padding: 10px;
  }
}
